<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name ="GameCenterConnectionString"
		providerName="System.Data.SqlClient"

		connectionString="Server=lu-gamecenterdb.database.windows.net;
		Database=GameCenterDB;
		Connection Timeout=30;
		Integrated Security=false;
		Password=EvYMD9z6LDNviQRVwLHyR43G9BiVHAx4R9tnvzp9;
		User=GameCenterAppuser;"/>

	</connectionStrings>
</configuration>
